<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>蛙鸣图书馆</title>
</head>
<body>
  密码： <input type="password" name = 'password' class = 'password'>
  确认密码： <input type="password" name = 'confirmPassword' class = 'confirmPasswor'>
  <button class = "btn">完成</button>

  <script>
    var password = document.querySelector('.password');
    var confirmPassword = document.querySelector('.confirmPasswor');
    var btn = document.querySelector('.btn');

    btn.onclick = () => {
      var xml = new XMLHttpRequest();
      let data = {
        password: password.value,
        confirmPassword: confirmPassword.value,
      };

      xml.open('POST', 'http://localhost:3000/reg/setPassword');
      xml.onreadystatechange = function() {

        if (xml.status == 200 && xml.readyState == 4 ) {
          let res = JSON.parse(xml.responseText);

          if (res.code == 0) {
            alert('密码设置成功')
            location.href = 'localhost:3000/login';
            return;
          }

          if (res.code == 1) {
            alert('密码设置失败')
            return;
          }

          if (res.code == 2) {
            alert('参数错误')
            return;
          }
        }
      }
      xml.send(JSON.stringify(data));
    }
  </script>
</body>
</html>
